extends layout

block content

  div(class="col s10 offset-s1")
    div(id="pagetitle") Login
    if errormessage
      div(class="card amber darken-1")
        div(class="card-content black-text")
          span(class="card-title") Log in error
          div Username not found
    form(method='POST' action='/login')
      div.form-group
        input#name.form-control(class="orange", type='text', placeholder='  Your username' name='author', class="card-panel teal lighten-1")
      button.btn.btn-primary(type='submit',class="orange") Log in
      div(class="hide-on-small-only" style="display: inline" id="comment")  Don't have an account already? 
        a(id="comment", href="/sign") Sign here!
      div(class="hide-on-med-and-up"  id="comment")  Don't have an account already? 
      div(class="hide-on-med-and-up")
        a(id="comment", href="/sign") Sign up here!