extends layout

block content
  
  if errormessage
      div(class="col s10 m8 offset-s1 offset-m1 card amber darken-1")
        div(class="card-content black-text")
          span(class="card-title") Search error
          div Username not found

  div(id="pagetitle" class="col s10 offset-s1") What user's posts do you want to look at?
  form(method='POST' action='/users/create', class="col s10 offset-s1")
    div.form-group
      label(for='username', class="grey-text text-darken-1") Who are you searching for?
      input#name.form-control(class="orange", type='text', placeholder='  Username' name='author', class="card-panel teal lighten-1")
    button.btn.btn-primary(type='submit', class="orange") Open